In [1]:
import pandas as pd
df = pd.read_csv(r"customer_shopping_behavior.csv")

In [2]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
import os
os.getcwd()

'C:\\Users\\DELL\\OneDrive\\Desktop\\Projects\\Customer_Behaviour_Project'

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [6]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [7]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [8]:
labels = ['Young Adult','Adult','Middle-Aged','Senior']

df['age_group'] = pd.qcut(
    df['Age'],
    q=4,
    labels=labels,
    duplicates='drop'
)

df[['Age','age_group']].head(10)

   Age    age_group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

In [9]:
frequency_mapping = {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quartery':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every3Months':90
}


df['Purchase_frequency_days']=df['Frequency of Purchases'].map(frequency_mapping)
df[['Purchase_frequency_days','Frequency of Purchases']].head(10)

   Purchase_frequency_days Frequency of Purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                      NaN              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                      NaN              Quarterly

In [10]:
df[['Discount Applied','Promo Code Used']].head(10)

  Discount Applied Promo Code Used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [11]:
(df['Discount Applied']==df['Promo Code Used']).all()

np.True_

In [12]:
## Removed Promocode used
df = df.drop('Promo Code Used',axis=1)

In [13]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Previous Purchases', 'Payment Method',
       'Frequency of Purchases', 'age_group', 'Purchase_frequency_days'],
      dtype='object')

In [14]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in C:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages (9.6.0)

In [15]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in C:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in C:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in C:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in C:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://postgres:root@localhost:5432/customer_behaviour"
)

df = pd.read_sql("SELECT * FROM customers", engine)

df.head()

   id   name  age    city  spending
0   1   Amit   24    Pune    1200.0
1   2   Neha   22  Mumbai     900.0
2   3  Rahul   28   Delhi    1500.0

In [28]:
df_count = pd.read_sql(
    "SELECT COUNT(*) FROM public.customers",
    engine
)

df_count

   count
0      3

In [27]:
whos

Variable            Type         Data/Info
------------------------------------------
create_engine       function     <function create_engine at 0x000001C3382C5940>
df                  DataFrame       id   name  age    city<...>ul   28   Delhi    1500.0
df_full             DataFrame          Customer ID  Age  G<...>n[3900 rows x 18 columns]
engine              Engine       Engine(postgresql+psycopg<...>:5432/customer_behaviour)
frequency_mapping   dict         n=7
labels              list         n=4
os                  module       <module 'os' (frozen)>
pd                  module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [18]:
df.to_sql(
    name="customers_cleaned",   # new table name in pgAdmin
    con=engine,
    schema="public",
    if_exists="replace",        # overwrite if table exists
    index=False
)

3

In [19]:
df.shape

(3, 5)

In [20]:
df.shape
df.tail()

   id   name  age    city  spending
0   1   Amit   24    Pune    1200.0
1   2   Neha   22  Mumbai     900.0
2   3  Rahul   28   Delhi    1500.0

In [21]:
df = pd.read_csv(r"customer_shopping_behavior.csv")

In [22]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [23]:
df.shape
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [24]:
df_full = df.copy()

In [25]:
df_full.to_sql(
    name="customers_cleaned",
    con=engine,
    schema="public",
    if_exists="replace",
    index=False,
    chunksize=1000
)

3900